@import 'variables';

.js8bits-container.byte {

  div.js8bits-ui-bar,
  div.js8bits-ui-toolbar {
    background-color: $ui-white-case;

    &>div>button,
    &>button {
      background-color: $ui-grey-light;

      &:hover {
        background-color: $ui-grey-dark;
      }
    }
  }

  div.js8bits-ui-bar {
    background-image: url('images/byte.webp');
  }

  div.js8bits-ui-toolbar {
    &>button {
      svg {
        fill: $ui-black;

        >g {
          stroke: $ui-grey-light !important;
        }
      }
    }
  }
}
