@import 'variables';

.js8bits-container {
  &.quorum64 {
    div.js8bits-ui-bar {
      background-image: url('images/spectrum128p.webp');
      background-color: $ui-white-case;
    }

    div.js8bits-ui-toolbar {
      background-image: url('images/spectrum128p-bottom.webp');
      background-color: $ui-white-case;
    }

    // keyboard
    div.js8bits-ui-keyboard {
      display: none;
      padding: 0px;

      &.opened {
        display: block;
      }

      >div {
        background-color: $ui-white-case;
        margin: auto;
        max-width: 1200px;
        padding: 7px 0px;

        &>div.keyboard-container {
          gap: 0;
          grid-template-columns: repeat(15, 1fr);
          font-size: 8px;
          line-height: 9px;

          &>div {
            padding: 1px 2px;
            min-height: 10px;
            line-height: 10px;

            &:nth-child(37) {
              height: 100%;
            }

            &:nth-child(n+11)>div.button-top1,
            &:nth-last-child(2)>div.button-inner>div.button-inner1,
            &:nth-child(n+14)>div.button-inner>div.button-inner2,
            &:nth-child(n+14)>div.button-inner>div.button-inner3 {
              display: block;
            }

            &:nth-child(n+49)>div {
              &.button-top1 {
                display: none;
              }

              &.button-inner {
                display: flex;
                align-items: center;

                >div.button-inner2,
                >div.button-inner3 {
                  display: none;
                }
              }
            }

            &>div {

              &.button-top1,
              &.button-top2 {
                color: $ui-white !important;
                text-align: center;
              }

              &.button-bottom {
                display: none;
              }

              &.button-inner {
                background-color: #3f3f3f;
                border-radius: 0px 0px 10px 10px;
                height: 40px;
                position: relative;

                &.pushed {
                  background-color: #1d1d1d;
                }

                &:hover {
                  background-color: $ui-grey-dark;
                }

                &>div {
                  &.button-inner1 {
                    bottom: 2px;
                    font-size: 16px;
                    line-height: 16px;
                    font-weight: bold;
                    left: 0px;
                    position: absolute;
                    top: unset;
                    width: 100%;
                    text-align: center;
                  }

                  &.button-inner2,
                  &.button-inner3 {
                    color: $ui-white;
                    font-weight: bold;
                    position: absolute;
                    top: 2px;
                  }

                  &.button-inner2 {
                    left: 5px;
                  }

                  &.button-inner3 {
                    right: 5px;
                  }
                }
              }
            }

            &.one-action-key>div.button-inner>div.button-inner1 {
              text-align: center;
              bottom: 0;
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}
