@import 'variables';
@import 'spectrum128p';

.js8bits-container {
  &.spectrum128pes {
    div.js8bits-ui-keyboard {
      >div {
        &>div.keyboard-container {
          &>div {
            &:nth-child(1) {
              &>div {
                &.button-inner {
                  >div.button-inner1 {
                    background-color: $ui-white;
                    color: $ui-black;
                    border-radius: 2px;
                    width: fit-content;
                    margin: auto;
                    padding: 0px 1px;
                  }
                }
              }
            }

            &:nth-child(2) {
              &>div {
                &.button-inner {
                  >div.button-inner1 {
                    background-color: $ui-black;
                    border: 1px solid $ui-white;
                    color: $ui-white;
                    border-radius: 2px;
                    width: fit-content;
                    margin: auto;
                    padding: 0px 1px;
                  }
                }
              }
            }

            &:nth-child(37) {
              height: 100%;

              &>div {
                &.button-inner {
                  height: 82%;

                  >div.button-inner1 {
                    font-size: 30px !important;
                  }
                }
              }
            }

            &:nth-child(38),
            &:nth-child(48) {
              &>div {
                &.button-inner {
                  >div.button-inner1 {
                    font-size: 30px !important;
                  }
                }
              }
            }

            &:nth-child(39) {
              &>div {
                &.button-inner {
                  >div.button-inner1 {
                    font-size: 20px !important;
                  }
                }
              }
            }

            &:nth-last-child(2) {
              &>div {
                &.button-inner {
                  >div.button-inner1 {
                    color: $ui-white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
