@import 'variables';

@mixin common-button-styles {
  background-color: $ui-white;
  color: $ui-black;

  &:hover {
    background-color: $ui-grey-dark;
  }
}

@mixin common-div-styles {
  background-color: $ui-grey-dark;

  &>div>button,
  &>button {
    @include common-button-styles;
  }
}

.js8bits-container {
  &.tc2048 {

    div.js8bits-ui-bar,
    div.js8bits-ui-toolbar {
      @include common-div-styles;
    }

    div.js8bits-ui-bar {
      background-image: url('images/tc2048.webp');
    }

    div.js8bits-ui-toolbar {
      background-image: url('images/tc2048-bottom.webp');

      &>button {
        svg {
          fill: $ui-black;

          >path {
            >g {
              >g {
                stroke: $ui-grey-dark;
              }
            }
          }
        }
      }
    }

    div.js8bits-ui-keyboard {

      >div {

        &>div.keyboard-row {

          &>div {

            &>div {

              &.button-top2 {
                color: $ui-white;
              }

              &.button-inner {
                background-color: $ui-white;
                cursor: pointer;

                &>div.button-inner2 {
                  color: $ui-black;

                  div.zx-key {
                    background-color: $ui-white;
                    height: 10px;
                    position: relative;
                    width: 10px;

                    >span {
                      background-color: $ui-black;
                      height: 4px;
                      width: 4px;
                    }

                    &.seven {
                      background: color $ui-white;
                      border: 1px solid $ui-black;

                      >span {
                        background-color: $ui-black;
                        bottom: 1px;
                        left: 1px;
                      }
                    }
                  }
                }

                &>div.button-inner3 {}

                &:hover {}
              }

              &.button-bottom {}
            }

            &.one-action-key {
              &>div {
                &.button-inner {
                  &>div.button-inner1 {}
                }
              }
            }
          }

          &.keyboard-row-3 {
            background-color: $ui-white;

            div.button-inner1 {
              color: $ui-red;
            }
          }
        }
      }
    }
  }
}
