// Variables
$primary-font-family: monospace;
$font-size: 13px;
$container-bg-color: #e5e5e5;
$ui-bars-button-color: #fff;
$ui-bars-button-bg-color: #808080;
$ui-bars-button-bg-hover-color: #575757;
$ui-bars-border-radius: 5px;
$ui-bars-margin: 5px;
$ui-bars-padding: 5px;
$ui-back-plastic-bg : #1b1919;
$ui-grey-plastic-bg : #66676B;
$ui-white-plastic-bg : #dad9cb;
