// Machines custom
@import 'variables';
@import 'byte';
@import 'clone';
@import 'inves';
@import 'microdigitaltk';
@import 'spectrum128p';
@import 'spectrum128pes';
@import 'spectrum128p2';
@import 'tc2048';
@import 'quorum64';


// UI styling - MOBILE FIRST
.js8bits-container {
  background-color: $container-bg-color;
  min-width: 250px;
  position: relative;

  // Common menubar / toolbar
  div.js8bits-ui-bar,
  div.js8bits-ui-toolbar {
    background-color: $ui-back-plastic-bg;
    padding: $ui-bars-padding 0px;

    &>div>button,
    &>button {
      background-color: $ui-bars-button-bg-color;
      border: 0;
      border-radius: $ui-bars-border-radius;
      color: $ui-bars-button-color;
      font-family: $primary-font-family;
      font-size: 12px;
      font-weight: bold;
      margin: 0px $ui-bars-margin;
      padding: 7px;

      &:hover {
        background-color: $ui-bars-button-bg-hover-color;
        cursor: pointer;
      }
    }

    &>div {
      display: inline;

      &>ul {
        background-color: #fff;
        border: 3px solid #000;
        border-radius: 0;
        color: #000;
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 200px;

        li {
          button {
            background-color: transparent;
            border: 0;
            border-radius: 0;
            color: #000;
            cursor: pointer;
            font-family: $primary-font-family;
            font-size: 12px;
            font-weight: bold;
            padding: $ui-bars-padding;
            text-align: left;
            width: 100%;

            &.active {
              background-color: #50E0FF;
            }
          }

          &:hover {
            background-color: #a6ecfc;
          }
        }
      }
    }
  }

  // menu ar
  div.js8bits-ui-bar {
    background-image: url('images/spectrum48.webp');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 30px;

    ul#ui-bar-menu-hardware {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      display: grid;
      gap: 0;
      grid-template-columns: repeat(9, auto);
      left: 0;
      overflow-x: auto;
      overflow-y: auto;
      top: 40px;
      z-index: 1;
      border: 0;

      &>li {
        cursor: pointer;
        display: contents;

        >div {
          border-bottom: 1px solid #fff;
          border-right: 1px solid #fff;
          font-family: $primary-font-family;
          font-size: $font-size;
          padding: 3px 5px;
        }

        &.header {
          >div {
            background-color: #000;
            color: #fff;
            font-weight: bold;
          }
        }

        &:not(.header):hover {
          >div {
            font-weight: bold;
          }
        }

        &.unemulated {
          >div {
            background-color: #fbe7e7;
            color: red;
          }
        }

        &.emulated {
          >div {
            background-color: #e9fee9;
            color: green;
          }
        }

        &.partially {
          >div {
            background-color: #fff4df;
            color: #ffa500;
          }
        }

        &.active {
          >div {
            font-weight: bold;

            &:nth-child(2)::after {
              content: " (Current machine)";
            }
          }

          &.unemulated {
            >div {
              background-color: #ff0000;
              color: #fbe7e7;
            }
          }

          &.emulated {
            >div {
              background-color: #008000;
              color: #e9fee9;
            }
          }

          &.partially {
            >div {
              background-color: #ffa500;
              color: #fff4df;
            }
          }
        }

      }
    }
  }

  // keyboard
  div.js8bits-ui-keyboard {
    display: none;

    &.opened {
      display: block;
    }

    >div {
      background-color: $ui-back-plastic-bg;
      margin: auto;
      max-width: 1200px;
      padding: 10px 0px;

      &>div.keyboard-container {
        color: #fff;
        display: grid;
        font-family: monospace;
        font-size: 10px;
        gap: 0;
        grid-template-columns: repeat(10, 10%);

        &>div {
          padding: 0px 2px;

          &>div {
            min-height: 12px;

            &.button-top1 {}

            &.button-top2 {
              color: #3DB241;
            }

            &.button-inner {
              background-color: #808080;
              border-radius: 5px;
              height: 32px;
              position: relative;

              &.pushed {
                background-color: #504d4d;
              }

              &>div.button-inner1 {
                font-size: 16px;
                font-weight: bold;
                left: 3px;
                position: absolute;
                top: 3px;
              }

              &>div.button-inner2 {
                color: #940808;
                font-weight: bold;
                position: absolute;
                right: 3px;
                top: 3px;

                div.zx-key {
                  background-color: #fff;
                  height: 10px;
                  position: relative;
                  width: 10px;

                  >span {
                    background-color: #808080;
                    height: 4px;
                    position: absolute;
                    width: 4px;
                  }

                  &.one {
                    >span {
                      right: 1px;
                      top: 1px;
                    }
                  }

                  &.two {
                    >span {
                      left: 1px;
                      top: 1px;
                    }
                  }

                  &.three {
                    >span {
                      right: 1px;
                      top: 1px;
                      width: 8px;
                    }
                  }

                  &.four {
                    >span {
                      bottom: 1px;
                      right: 1px;
                    }
                  }

                  &.five {
                    >span {
                      height: 8px;
                      right: 1px;
                      top: 1px;
                    }
                  }

                  &.six {
                    >span:first-child {
                      left: 1px;
                      top: 1px;
                    }

                    >span:last-child {
                      bottom: 1px;
                      right: 1px;
                    }
                  }

                  &.seven {
                    border: 1px solid #fff;

                    >span {
                      bottom: 1px;
                      left: 1px;
                    }
                  }
                }
              }

              &>div.button-inner3 {
                bottom: 2px;
                color: #fff;
                position: absolute;
                right: 2px;
              }

              &:hover {
                background-color: #575757;
              }
            }

            &.button-bottom {
              color: #FF1F1F;
            }
          }

          &:nth-child(-n+10) {
            &>div.button-top2 {
              color: #fff;
            }
          }

          &:nth-child(n+11) {
            &>div.button-top1 {
              display: none;
            }
          }

          &:first-child {
            &>div.button-top1 {
              color: #0000ff;
            }
          }

          &:nth-child(2) {
            &>div.button-top1 {
              color: #ff0000;
            }
          }

          &:nth-child(3) {
            &>div.button-top1 {
              color: #ff00ff;
            }
          }

          &:nth-child(4) {
            &>div.button-top1 {
              color: #3DB241;
            }
          }

          &:nth-child(5) {
            &>div.button-top1 {
              color: #00ffff;
            }
          }

          &:nth-child(6) {
            &>div.button-top1 {
              color: #ffff00;
            }
          }

          &:nth-child(10) {
            &>div.button-top1 {
              background-color: #fff;
              border-radius: 2px;
              color: #000;
              padding: 0px 1px;
              width: fit-content;
            }
          }

          &:nth-last-child(2) {
            &>div.button-inner {
              >div.button-inner1 {
                color: #940808;
              }
            }
          }

          &.one-action-key {
            &>div {
              &.button-inner {
                align-items: center;
                display: flex;

                &>div.button-inner1 {
                  font-size: 10px;
                  font-weight: bold;
                  left: unset;
                  position: relative;
                  text-align: center;
                  top: unset;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  // keyboard
  div.js8bits-ui-joystick {
    display: none;

    &.opened {
      display: block;
    }

    >div {
      background-color: $ui-back-plastic-bg;
      margin: auto;
      //max-width: 400px;
      padding: 10px 0px;
      position: relative;
      height: 170px;

      &>div.select-container {
        text-align: center;
        >select {
          font-size: 11px;
          background-color: #444444;
          color: #fff;
          font-weight: bold;
          border: 2px solid #808080;
          border-radius: 5px;
          padding: 2px;
        }
      }

      &>div.direction-container {
        >div {
          position: absolute;
          color: #fff;
          background-color: $ui-bars-button-bg-color;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 25px;
          border-radius: 10px;
          cursor: pointer;
          border: 5px solid #444;

          &:hover {
            background-color: $ui-bars-button-bg-hover-color;
          }
        }


        >div.button-up {
          left: 70px;
          top: 20px;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }

        >div.button-down {
          left: 70px;
          top: 120px;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
        }

        >div.button-left {
          left: 20px;
          top: 70px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }

        >div.button-separator {
          left: 70px;
          top: 70px;
          border-radius: 0;
          width: 50px;
          height: 50px;
          border: 5px solid #808080;
          border-radius: 5px;

          &:hover {
            background-color: $ui-bars-button-bg-color;
          }
        }

        >div.button-right {
          left: 120px;
          top: 70px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }

      &>div.fire-container {
        position: absolute;
        right: 10px;
        top: 10px;

        $push-color: hsla(10, 90%, 40%, 1);
        $push-size: 150px;

        >div.button-fire {
          position: relative;
          display: inline-block;
          width: $push-size;
          height: $push-size;
          border: 0;
          margin: 1em;
          outline: none;
          background-color: $push-color;
          border-radius: 50%;
          cursor: pointer;
          transition: box-shadow 200ms;

          box-shadow:
            inset 0 calc($push-size/32) 0 lighten($push-color, 5%),
            inset 0 calc(calc($push-size/32)*(-1)) 0 darken($push-color, 5%),
            inset 0 0 0 calc($push-size/32) darken($push-color, 3%),
            inset 0 0 0 calc($push-size/12) $push-color,
            inset 0 0 0 calc($push-size/10) darken($push-color, 20%),
            inset 0 0 0 calc($push-size/9.2) darken($push-color, 50%),
            inset 0 0 0 calc($push-size/7.5) transparentize(lighten($push-color, 30%), .3),
            inset 0 0 0 calc($push-size/5.5) $push-color,
            inset 0 calc($push-size/2.5) calc($push-size/7.5) darken($push-color, 5%),
            inset 0 0 calc($push-size/10) calc($push-size/6) darken($push-color, 10%),
            0 calc($push-size/20) 0 rgba(0, 0, 0, .3);

          &:after {
            content: '';
            position: absolute;
            bottom: calc($push-size/20);
            left: calc($push-size/10);
            display: block;
            width: calc($push-size/1.25);
            height: calc($push-size/1.25);
            border: calc($push-size/15) solid rgba(0, 0, 0, .3);
            border-width: 0 0 calc($push-size/15);
            border-radius: 50%;
            transition-duration: 200ms;
          }

          &:active,
          // &:hover,
          &.is-pushed {
            box-shadow: inset 0 calc($push-size/32) 0 lighten($push-color, 5%),
              inset 0 calc(calc($push-size/32)*(-1)) 0 darken($push-color, 5%),
              inset 0 0 0 calc($push-size/32) darken($push-color, 3%),
              inset 0 0 0 calc($push-size/12) $push-color,
              inset 0 0 0 calc($push-size/10) darken($push-color, 20%),
              inset 0 0 0 calc($push-size/8.5) darken($push-color, 40%),
              inset 0 0 0 calc($push-size/7.5) transparentize(lighten($push-color, 30%), .8),
              inset 0 0 0 calc($push-size/5.5) darken($push-color, 3%),
              inset 0 calc($push-size/2.5) calc($push-size/7.5) darken($push-color, 8%),
              inset 0 0 calc($push-size/10) calc($push-size/6) darken($push-color, 15%),
              0 calc($push-size/20) 0 rgba(0, 0, 0, .3);
            background-color: darken($push-color, 2%);

            &:after {
              bottom: calc($push-size/20) + calc($push-size/15);
              border-width: 0;
            }
          }
        }
      }
    }
  }

  // toolbar
  div.js8bits-ui-toolbar {
    background-image: url('images/spectrum48-bottom.webp');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto;
    bottom: 0px;
    height: 34px;
    width: 100%;

    &>button {
      svg {
        fill: #fff;
      }
    }
  }

  // Play button
  button.js8bits-ui-play-button {
    background-color: rgba(160, 160, 160, 0.7);
    border: 0;
    border-radius: 5px;
    height: 64px;
    left: 50%;
    margin-left: -48px;
    position: absolute;
    top: 100px;
    width: 96px;

    >svg {
      height: 56px;
      vertical-align: middle;
    }
  }
}

// UI styling - TABLET
.js8bits-container.tablet {
  >div {
    >button.js8bits-ui-play-button {
      top: 125px;
    }

    >div.js8bits-ui-keyboard {
      position: absolute;
      bottom: 40px;
      opacity: 0.5;
      width: 100%;

      >div {
        border-radius: 10px;
        margin: 10px auto;
        padding: 5px;


        >div.keyboard-container {
          >div {
            padding: 0px 6px;

            >div.button-top2 {
              font-size: 10px;
            }

            >div.button-inner {
              height: 35px;

              >div.button-inner1 {
                font-size: 20px;
                left: 5px;
                top: 3px;
              }

              >div.button-inner2 {
                font-size: 12px;
                right: 5px;
                top: 3px;
              }

              >div.button-inner3 {
                bottom: 3px;
                font-size: 12px;
                font-weight: normal;
                right: 5px;
              }
            }

          }

          >div.one-action-key {
            >div.button-inner {
              >div.button-inner1 {
                font-size: 16px;
                left: unset;
                line-height: 13px;
                top: unset;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

// UI styling - DESKTOP
.js8bits-container.desktop {
  button.js8bits-ui-play-button {
    top: 200px;
  }
}
